.btn {
  display: inline-block;
  padding: .25rem 1rem;
  font-family: "PT Sans", sans-serif;
  color: #268bd2;
  border: .1rem solid #26282d;
  border-color: #268bd2;
  border-radius: .1rem;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #268bd2;
  border-color: #268bd2;
  text-decoration: none;
}
